html,
body {
    height: 100%;
    background-color: linen;
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', 'serif';
}
h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 10 0 0 100;
    text-align: center;
} 
.head {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #1E4498;
}
.head .nav {
    justify-content: center;
    display: flex;
    margin: 10 10 0 0;
}
.nav a {
    color: white;
    font-weight: 700;
    display: flex;
    padding: 20 40;  
}

h2 {
    text-align: center;
    font-weight: 700;
    color: gold;
    text-decoration: underline;
    padding: 10px;
}
.container {
    margin: 20 auto;
    max-width: 1024px;
    background-image: url('br.jpg');
    align-content: center;
    border-radius: 8px;
}
.container .row {
    padding: 10px;
}
.container .row .col {
    justify-content: space-around;
}
.container .row .col-div {
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    text-align: center;
    border-radius: 8px;
}

img {
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
}

.imageLabel {
   
    font-style: italic;
    background-image: url('m.jpg');  
    color: snow; 
    padding: 20px;
    font-weight: 700; 
    font-size: large;
}


footer {
    background-color: #303036;
    color: #d3d3d3; 
    text-align: center;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;

}

.footer-content p {
    padding: 10px;
    margin-bottom: 0;
}

footer .footer-bottom {
    background-color: #343a40;
    color: #686868;
    height: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 8px;
}
@media screen and (max-width: 768px) {
    .head {
        justify-content: space-between;
        flex-direction: column;
    }
    .head h1{
        align-self: 40%;
       padding: 10 0 0 10;
       margin-right: 20px;
    }
    .nav {
        align-self: flex-end;
    }
    .nav a {
        padding: 20 20;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width:425px) {
    .head {
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        padding: 10 0 0 0;
        font-size: 45px;
        margin-right: 10px;
        text-align: center;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .container .row .col-div {
        margin: 0 auto;
        justify-content: center;
        align-items: flex-end;
        width: 320px;
        text-align: center;
        border-radius: 8px;
    }
    img {
        width: 320px;
        height: auto;
        margin-top: 20px;
    }
    footer {
        position: relative;
    }
}