

/* body styling */

 h2 {
    text-align: center;
    font-weight: 700;
    color: gold;
    text-decoration: underline;
    padding: 10px;
}
.container {
    max-width: 1000px;
    background-image: url('br-2.jpg');
    align-content: center;
    border-radius: 8px;
    margin-top: 5px;
}
.container .row {
    padding: 10px;
}
.container .row .col {
    margin-bottom: 10px;
    justify-content: space-around;
    flex-direction: column;
}
.container .row .col-div {
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    border-radius: 8px;
}

img {
    min-width: 250px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
}

.imageLabel {
   
    font-style: italic;
    background-image: url('br-3.jpg');  
    color: snow; 
    padding: 20px;
    font-weight: 700; 
    font-size: large;
} 





@media screen and (min-width:425px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }  
    .head h1{
        align-self: 40%;
       padding: 10 0 0 10;
       margin-right: 20px;
    }
    .head .nav {
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        align-items: flex-end;
    }
    .nav a {
        padding: 20 20;
    }
}
@media screen and (min-width:425px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}
@media screen and (min-width:769px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
@media screen and (min-width:1024px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}