* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: linen;
    font-family: 'Lora', 'serif';
    position: relative;
    padding-bottom: 55px;
}
/* header styling */
.head {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #1E4498;   
    flex-direction: column;
}
.head .nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.nav a {
    color: white;
    font-weight: 700;
    display: flex;
    padding: 20 40;  
}

h1 {
    padding: 10  0 0 0;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
} 
h5 {
    margin-left: 60px;
}
p {
    margin-left: 20px;
}

.head ul {
    align-items: flex-end;
}
/* body styling */

 h2 {
    text-align: center;
    font-weight: 700;
    color: gold;
    text-decoration: underline;
    padding: 10px;
}
.container {
    max-width: 1000px;
    background-image: url('br-2.jpg');
    align-content: center;
    border-radius: 8px;
    margin-top: 5px;
}
.container .row {
    padding: 10px;
}
.container .row .col {
    margin-bottom: 10px;
    justify-content: space-around;
    flex-direction: column;
}
.container .row .col-div {
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    border-radius: 8px;
}

img {
    min-width: 250px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
}

.imageLabel {
   
    font-style: italic;
    background-image: url('br-3.jpg');  
    color: snow; 
    padding: 20px;
    font-weight: 700; 
    font-size: large;
} 

footer {
    margin-top: 100px;
    background-color: #303036;
    color: #d3d3d3; 
    text-align: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
} 

.footer-content p {
    padding: 10px;
    font-size: large;
    margin-bottom: 0;
}

footer .footer-bottom {
    background-color: #343a40;
    color: #686868;
    height: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 8px;
}


@media screen and (min-width:425px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }  
    .head h1{
        align-self: 40%;
       padding: 10 0 0 10;
       margin-right: 20px;
    }
    .head .nav {
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        align-items: flex-end;
    }
    .nav a {
        padding: 20 20;
    }
}
@media screen and (min-width:425px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}
@media screen and (min-width:769px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
@media screen and (min-width:1024px) {
    .head {
        background-color: #1E4498;   
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}